<% navlinks=[ { label: 'Home' , url: '/' }, { label: 'About Us' , url: '/about' }, { label: 'Call For Papers' ,
    url: '/cfp' }, { label: 'Submission' , url: '/submission' }, { label: 'Invited Speakers' , url: '/speakers' }, {
    label: 'Committee' , url: '/committees' }, { label: 'Registration' , url: '/registration' } ,{ label: 'Gallery' ,
    url: '/gallery' },{ label: 'Contact Us' , url: '/contact' } ]; %>



<!-- Container flex only for md and above -->
<div class="bg-secondary text-secondary-content md:p-4">
  <!-- Container -->
  <div class="flex justify-evenly md:hidden pt-2">
    <span>
      <%- include('logo', { source: '/images/college_logo.png' }) %>
    </span>
    <span>
      <%- include('logo', { source: '/images/nitdel.png' }) %>
    </span>
  </div>

  <div class="flex flex-col md:flex-row md:items-center md:justify-between">

    <!-- Left logo -->
    <div class="hidden md:flex justify-start md:flex-1">
      <%- include('logo', { source: '/images/college_logo.png' }) %>
    </div>

    <!-- Name: centered explicitly on md+ -->
    <div class="text-center font-semibold text-h3  md:w-2/3 md:mt-0 mt-4">
      International Conference on Intelligent Computational and Communication Technologies for Sustainable
      Development (ICCT-SD 2026)
      <br>
      <span class="text-h4">
        (1–3 April, 2026)
      </span>
    </div>

    <!-- Right logo -->
    <div class="hidden md:flex justify-end md:flex-1">
      <%- include('logo', { source: '/images/nitdel.png' }) %>
    </div>
  </div>

  <!-- Small screen layout adjustment: two logos top row, name bottom row -->

</div>


<div class="divider outline-secondary border-secondary bg-secondary m-0 pt-6 pb-2 md:hidden"></div>

<div id="navbar" class="flex flex-wrap bg-secondary justify-center gap-2 py-2 ">
  <% for( let index=0; index < navlinks.length; index++ ) { %>
  <%- include('navlink', { label: navlinks[index].label, url: navlinks[index].url }) %>
  <% } %>

</div>